@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
html, body, h1, h2, p {
  margin: 0;
  padding: 0;
}

html {
  background: #FDF06F;
  width: 100%;
  height: 100%;
}
body {
  background: #12162D;
  color: #FDF06F;
  font-family: 'Montserrat', 'Arial black', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Typography */
h1.container-week {
  font-size: 200px;
  font-family: impact, sans-serif;
  font-weight: bolder;
  line-height: 1;
  letter-spacing: -4px;
  margin: 12px 0 45px 0;
}
h2.container-week-label {
  font-size: 51px;
  font-weight: 900;
  line-height: 1;
  margin-top: 10px;
}

/* Content */
.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-container--item {
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}
p.item-block { display: block !important; }
