<a href="#" class="icon open-navegation"></a>
<a href="{{site.baseurl}}/index" class="icon go-to-characters-list"></a>
<nav class="navegation">
  <a href="#" class="icon close-navegation"></a>
  <ul class="navegation-list">
    <li class="navegation-list-item">
      <a href="{{site.baseurl}}/index">Personagens</a>
    </li>
    <li class="navegation-list-item">
      <a href="{{site.baseurl}}/skills">Habilidades</a>
    </li>
    <li class="navegation-list-item">
      <a href="{{site.baseurl}}/about">A tribo</a>
    </li>
    <li class="navegation-list-item">
      <a href="{{site.baseurl}}/buy">Comprar</a>
    </li>
  </ul>
</nav>
