.character {
    background: url("{{site.baseurl}}/img/card-background.jpg") top center no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    /* height: 100vh; */
    height: 100%;
}
.default-page {
  padding: 40px;
}
.character-item {
  /* overflow: hidden; */
  width: 100%;
  position: relative;
  /* width: 99%; */
  /* box-shadow: 2px 2px 5px #000; */
}
.character-item-shot {
  height: 100vh;
}
.character-item-full {
  min-height: 100vh;
}

.character-item-content {
  border: 2px solid #F27012;
  color: #fff;
  padding: 20px;
  margin: 30px;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.character-item-content-short {
  height: 85vh;
}
.character-item-content-full {
  min-height: 100vh;
}
.character-item-label {
  background: #000;
  margin: 4px -20px;
  padding: 4px 20px;
  font-weight: bold;
}
.character-item-label:first-child{
  margin-top: -20px;
  -webkit-border-top-left-radius: 8.5px;
  -webkit-border-top-right-radius: 8.5px;
  -moz-border-radius-topleft: 8.5px;
  -moz-border-radius-topright: 8.5px;
  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;
}
.character-image img {
  width: 90%;
  /* margin-top: -40px; */
}
.character-image {
  text-align: center;
}
.character-image-full {
  /* position: absolute;
  bottom: -80%;
  z-index: 0; */
}
.character-image.character-image-full img {
  width: 150%;
  /* New Line */
  margin-left: -10px;
}

.character-item-content-skills {

}

/* skills-info */
.skills-info p {
  color: #95EA8D;
  margin: 10px;
}


/* ==============
 * Characters Fixes
 *==================*/
/* Cura */
.character-perfil-cura {}


/* Lynx */
.character-lynx-about img {
  width: 120%;
  margin-top: -200px;
}
.character-perfil-lynx {
  bottom: -50%;
  left: -40px;
}
.character-perfil-lynx img {
  width: 110% !important;
}

/* Pantera */
.character-perfil-pantera img {
  width: 110% !important;
}

/* Portal */
.character-portal-about img {
  width: 110%;
  margin-top: -90px;
}
.character-perfil-portal {
  bottom: -45%;
}

/* Tiborg */
.character-tiborg-about .character-image.character-image-full img {
  width: 170%;
  right: -90px;
  position: absolute;
}

/* Professor Ladislau */
.adjective-name {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
