/* #content */
header,
section,
footer {
  width: 100%;
  height: 100%;
  position: relative;
}
/* #Header */
/* #Navegation */
.navegation {}
/* #go to top*/
.go-top {
  background-position: 0 -40px;
  position: fixed;
  width: 40px;
  height: 20px;
  bottom: 240px;
  right: 50px;
  display: none;
}
/* #Container */
/* #Content */
/* #Pages */
.character {
    background: url("{{site.baseurl}}/img/card-background.jpg") top center no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    height: 100%;
}
.character-item {
  /* overflow: hidden; */
  width: 100%;
  position: relative;
  /* width: 99%; */
  /* box-shadow: 2px 2px 5px #000; */
}
.character-item-shot {
  height: 100vh;
}
.character-item-full {
  min-height: 100vh;
}

.character-item-content {
  border: 2px solid #F27012;
  color: #fff;
  padding: 20px;
  margin: 30px;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.character-item-content-short {
  height: 85vh;
}
.character-item-content-full {
  min-height: 100vh;
}
.character-item-label {
  background: #000;
  margin: 10px -20px;
  padding: 4px 20px;
  font-weight: bold;
}
.character-item-label:first-child{
  margin-top: -20px;
  -webkit-border-top-left-radius: 8.5px;
  -webkit-border-top-right-radius: 8.5px;
  -moz-border-radius-topleft: 8.5px;
  -moz-border-radius-topright: 8.5px;
  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;
}
.character-image img {
  width: 90%;
}
.character-image {
  text-align: center;
}
.character-image-full {
  position: absolute;
  bottom: -80%;
  z-index: 0;
}
.character-image.character-image-full img {
  width: 100%;
}

.character-item-content-skills {

}

/* #footer */
