/* #content */
header,
section,
footer {
  width: 100%;
  height: 100%;
  position: relative;
}
/* #Header */
/* #Container */
/* #Content */
/* #Pages */

.page {
  padding: 40px;
}

/* #Images */
.icon-arrow-next {
  color: #fff;
  opacity: 0.8;
  display: block;
  font-size: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 100;
  display: none;
}

/* #footer */
