/* #content */
header,
section,
footer {
  width: 100%;
  height: 100%;
  position: relative;
}
/* #Header */
/* #Navegation */
.navegation {}
/* #go to top*/
.go-top {
  background-position: 0 -40px;
  position: fixed;
  width: 40px;
  height: 20px;
  bottom: 240px;
  right: 50px;
  display: none;
}
/* #Main*/
/* #Container */
/* #Content */
/* #Pages */
.character-item {
  background: url("{{site.baseurl}}/img/card-background.jpg");
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height:100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  /* width: 99%; */
  /* box-shadow: 2px 2px 5px #000; */
}

.character-item-content {
  border: 2px solid #F27012;
  color: #fff;
  padding: 20px;
  margin: 30px;
  height: 85vh;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.character-item-label {
  background: #000;
  margin: 10px -20px;
  padding: 4px 20px;
  font-weight: bold;
}
.character-item-label:first-child{
  margin-top: 0px;
}
.character-image img {
  width: 90%;
}
.character-image {
  text-align: center;
}

.character-item-content-info {

}
.character-item-content-perfil {}
.character-item-content-skills {}

/* #footer */
