.radius {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/*Character Skills*/
.character-skill-list{
  padding: 0;
  margin: 0;
}
.character-skill-list li {

}
.skill-item {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: 100%;
}
.skill-plus {
  background-position: 0 0;
}
.skill-less {
  background-position: 0 -25px;
}
