/* #Navegation */
.navegation {
  position: absolute;
  background: #fff;
  color: #444;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 200;
  display: none;
}
.open-navegation {
  background-position: 0 -74px !important;
  width: 30px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 200;
  background-size: 100% !important;
}
.close-navegation {
  background-position: 3px -100px !important;
  width: 30px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 200;
  background-size: 100% !important;
}
.navegation-list {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}
.navegation-list-item {
  font-size: 2em;
  padding: 10px;
}

/* #Characters */
.characters-select-list {
  padding: 0;
}
.characters-select-list li {
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.go-to-characters-list {
  background-position: 0 -135px;
  width: 30px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 200;
  background-size: 100% !important;
}
