/* Typography */
::-moz-selection{
  color:#fff;
  background: #B09263;
}
::selection {
  color:#fff;
  background: #B09263;
}
.font-italic {
  font-style: italic;
}
.font-bold {
  font-weight: bold;
}

h1 {
  font-size: 52px;
  margin-top: -20px;
  font-weight: 300;
}
.font-16 {
  font-size: 16px !important;
}
.font-16 a{
  color:#F27012 !important;
}
.default-page.text-color-white {
  color: #fff !important;
}
